@import "../styles/base";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: map_get($colours, 'dark-blue');
  color: map_get($colours, 'white');
}
