@import "../styles/base";

.link {
  cursor: pointer;
}
.underline {
  $transition: 0.3s ease all;
  position: relative;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: map_get($colours, 'light-green');
    visibility: hidden;
    transition: $transition;
  }
  &:hover {
    &::before {
      visibility: visible;
      width: 100%;
      transition: $transition;
    }
  }
}
